@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    background-color: #fcfcfc;
}

.container-inicial {
    display: flex;
    height: 550px;
}

.container-inicial-img {
    height: 100%;
    width: 50%;
}

img {
    width: 100%;
    height: 100%;
}

.container-inicial-txt {
    width: 50%;
    padding: 25px;
    text-align: justify;
    background-image: linear-gradient(#ffeb50,#fdc006);
}

.container-inicial-txt a{
    text-decoration: none;
}

.container-inicial-txt a:visited {
    color: black;
}

.container-inicial-txt a:hover {
    color: #444444;
}

p {
    font-size: 17px;
    letter-spacing: .5px;
}

.receitas-titulo h1 {
    margin: 25px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: #fcfcfc;
}

.container-primeira-receita {
    display: flex;
    height: 750px;
    margin-right: 15px;
    margin-bottom: none;
}

.container-primeira-receita-txt {
    background-image: linear-gradient(to bottom, #fcfcfc, #fff);
}

.container-primeira-receita-txt h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.container-primeira-receita-img {
    width: 161rem;
}

.container-primeira-receita-txt a {
    text-decoration: none;
}

.container-primeira-receita-txt a:visited {
    color: black;
}

.container-primeira-receita-txt a:hover {
    color: #444444;
}

.container-primeira-receita-txt h2 {
    margin-left: 20px;
    font-family: 'Single Day', cursive;
    font-size: 25px;
}

ul {
    margin-right: 200px;
    list-style-type: none;
    text-align: justify;
}

ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}

.segunda-receita {
    display: flex;
    flex-direction: row-reverse;
    height: 600px;
}

.segunda-receita h2 {
    font-family: 'Single Day', cursive;
    font-size: 25px;
    padding: 10px;
}

.segunda-receita-img {
    width: 47.5%;
}

.segunda-receita-img img {
    width: 100%;
    height: 100%;
}

.segunda-receita-txt {
    background-image: linear-gradient(to top, #ffeb50,#fdc006);
    width: 52.5%;
}

.segunda-receita-txt-titulo {
    display: flex;
    justify-content: center;
    height: 15%;
    align-items: center;
}

.segunda-receita-txt-titulo a {
    text-decoration: none;
}

.segunda-receita-txt-titulo a:visited {
    color: black;
}

.segunda-receita-txt-titulo a:hover {
    color: #444444;
}

.segunda-receita-txt-conteudo {
    display: flex;
    height: 85%;
}

.segunda-receita-txt-conteudo-ingredientes {
    padding-left: 15px;
    width: 50%;
    height: 100%;
}

.segunda-receita-txt-conteudo-ingredientes ul {
    width: 70%;
}

.segunda-receita-txt-conteudo-preparo {
    padding-right: 15px;
}

.container-terceira-receita {
    display: flex;
    height: 620px;
    margin-right: 15px;
}

.container-terceira-receita-img {
    width: 53%;
}

.container-terceira-receita-txt {
    width: 47%;
}

.container-terceira-receita-txt-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}
.container-terceira-receita-txt-titulo a {
    text-decoration: none;
}

.container-terceira-receita-txt-titulo a:visited {
    color: black;
}

.container-terceira-receita-txt-titulo a:hover {
    color: #444444;
}

.container-terceira-receita-txt-conteudo {
    display: flex;
    height: 85%;
}

.container-terceira-receita-txt-conteudo-ingredientes {
    width: 50%;
}

.container-terceira-receita-txt-conteudo h2 {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Single Day', cursive;
    font-size: 25px;
}

.container-terceira-receita-txt-conteudo ul {
    width: 80%;
    font-size: 15px;
    text-align: justify;
}

.container-terceira-receita-txt-conteudo ol {
    margin-right: 15px;
    font-size: 15px;
    text-align: justify;
}


.container-terceira-receita-txt-conteudo-preparo {
        width: 50%;
}